// ********************
// BREAKPOINTS
// ********************

$breakpoints: (
    "sm": 640px,
    "med": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "2xl": 1440px,
);

// ********************
// COLORS
// ********************

$primary: (
    "50": hsl(11, 100%, 96%),
    "100": hsl(10, 100%, 92%),
    "150": hsl(10, 100%, 88%),
    "200": hsl(9, 100%, 84%),
    "300": hsl(10, 100%, 75%),
    "400": hsl(10, 100%, 67%),
    "500": hsl(10, 100%, 59%),
    "600": hsl(10, 69%, 47%),
    "700": hsl(10, 69%, 35%),
    "800": hsl(9, 69%, 24%),
    "850": hsl(10, 69%, 18%),
    "900": hsl(10, 70%, 12%),
    "950": hsl(9, 68%, 6%),
);

$gray: (
    "50": hsl(220, 8%, 93%),
    "100": hsl(214, 9%, 85%),
    "150": hsl(216, 9%, 78%),
    "200": hsl(214, 9%, 71%),
    "300": hsl(216, 9%, 56%),
    "400": hsl(216, 13%, 41%),
    "500": hsl(215, 25%, 27%),
    "600": hsl(216, 25%, 21%),
    "700": hsl(216, 24%, 16%),
    "800": hsl(214, 26%, 11%),
    "850": hsl(213, 27%, 8%),
    "900": hsl(214, 26%, 5%),
    "950": hsl(210, 29%, 3%),
);