---
import Meta from "../components/Meta.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import Eyebrow from "../components/Eyebrow.astro";
import Card from "../components/Card.astro";
import Slide from "../components/Slide.astro";
import PricingCard from "../components/PricingCard.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import { Icon } from "astro-icon";
import { Content as AboutContent } from "../content/home/about.md";
import { Content as PricingContent } from "../content/home/pricing.md";
import "@glidejs/glide/dist/css/glide.core.min.css";
---

<html lang="en">
	<head>
		<Meta siteTitle="Cedalion | Unlimited designs for a low monthly fee" />
		<GlobalStyles />
	</head>
	<body>
		<Header />
		<section class="pt-32 pb-0">
			<Container>
				<div class="max-w-870 mx-auto">
					<h1 class="mb-4">
						Cedalion is a <s>different</s>
						<span class="orange">better</span> kind of design agency.
					</h1>
					<p class="mb-6">
						Say goodbye to job postings, invoices, and contractor timesheets. Switch
						to a design subscription instead.
					</p>
					<div class="flex-row justify-start align-center mb-6">
						<Button
							href="#pricing"
							label="Get started"
						/>
						<Button
							href="#about"
							isWhite
							label="Learn more"
						/>
					</div>
					<div>
						<small>Sign up in 5 minutes</small>
						<small class="orange">|</small>
						<small>Cancel any time</small>
						<small class="orange">|</small>
						<small>No contracts or hidden fees</small>
					</div>
				</div>
			</Container>
		</section>
		<section class="image--section pt-32">
			<Container>
				<img
					class="shadow-2xl"
					src="/img/kanban.webp"
					alt="An example kanban board."
				/>
			</Container>
		</section>
		<section class="py-16">
			<Container>
				<div
					class="max-w-870 flex-row justify-around align-center gap-8 flex-wrap mx-auto">
					<img
						src="/img/ari.svg"
						alt="Ayn Rand Institute logo"
						class="logo ari"
					/>
					<img
						src="/img/interfacely.svg"
						alt="Interfacely logo"
						class="logo interfacely"
					/>
					<img
						src="/img/prototypr.svg"
						alt="Prototypr logo"
						class="logo prototypr"
					/>
					<img
						src="/img/ruzuku.svg"
						alt="Ruzuku logo"
						class="logo ruzuku"
					/>
					<img
						src="/img/ux-planet.svg"
						alt="Ux Planet logo"
						class="logo uxplanet"
					/>
				</div>
			</Container>
		</section>
		<section
			id="about"
			class="pt-16 pb-32">
			<Container>
				<div class="max-w-770 mb-16">
					<h2 class="mb-4">
						The traditional agency model just doesn't make sense anymore
					</h2>
					<p>
						Unleash your business's online presence with unlimited designs, unmatched
						cost savings, and lightning-fast deliverables.
					</p>
				</div>
				<div class="prose col-2">
					<AboutContent />
				</div>
			</Container>
		</section>
		<section class="is-gray pt-32 pb-16">
			<Container>
				<div class="grid-cols-2 col-gap-16">
					<h2>Get unlimited designs (and revisions!) for one low monthly fee</h2>
					<div class="prose">
						<PricingContent />
					</div>
				</div>
			</Container>
		</section>
		<section class="pt-32 pb-16">
			<Container>
				<div class="max-w-770 mb-16">
					<Eyebrow content="How Cedalion works" />
					<h2 class="mb-4">A simple, streamlined process</h2>
					<p>
						No more email chains, Slack notifications, or missed dealines. We've
						simplified our design process to ensure high-quality work and fast
						turnaround times.
					</p>
				</div>
				<div class="grid-cols-4 col-gap-8">
					<Card
						heading="Queue up your projects"
						content="Add, manage, organize, and track your project requests using your very own Trello board."
					/>
					<Card
						heading="We get to work"
						content="Your design will be completed within two to three business days, on average, Monday through Friday."
					/>
					<Card
						heading="Request revisions"
						content="Design is an iterative process, so request as many revisions as you'd like. We're not happy until you are."
					/>
					<Card
						heading="Receive your designs"
						content="Receive your completed designs, and choose the next project you'd like us to work on."
					/>
				</div>
			</Container>
		</section>
		<section
			id="portfolio"
			class="py-16">
			<Container>
				<div class="flex-row justify-between align-start mb-16">
					<div class="max-w-770">
						<Eyebrow content="Latest work" />
						<h2 class="mb-4">Take a look at some recent design projects</h2>
						<p>
							They say a picture's worth a thousand words. So here's a few thousand
							words to show you what we can do for your business.
						</p>
					</div>
					<div class="flex-row justify-end align-center gap-8">
						<button
							id="api-go-backward"
							class="icon--wrapper"
							aria-label="previous">
							<Icon name="octicon:chevron-left-16" />
						</button>
						<button
							id="api-go-forward"
							class="icon--wrapper"
							aria-label="next">
							<Icon name="octicon:chevron-right-16" />
						</button>
					</div>
				</div>
				<div class="glide">
					<div
						class="glide__track"
						data-glide-el="track">
						<ul class="glide__slides">
							<li class="glide__slide">
								<Slide
									title="You.Car"
									src="/img/youcar-thumbnail.webp"
								/>
							</li>
							<li class="glide__slide">
								<Slide
									title="Grindr"
									src="/img/grindr-thumbnail.webp"
								/>
							</li>
							<li class="glide__slide">
								<Slide
									title="Matthew Hussey"
									src="/img/mh-thumbnail.webp"
								/>
							</li>
							<li class="glide__slide">
								<Slide
									title="Roam"
									src="/img/roam-thumbnail.webp"
								/>
							</li>
							<li class="glide__slide">
								<Slide
									title="Bon Matin"
									src="/img/bonmatin-thumbnail.webp"
								/>
							</li>
						</ul>
					</div>
				</div>
			</Container>
		</section>
		<section class="py-16">
			<Container>
				<div class="max-w-770 mb-16">
					<Eyebrow content="Perks? We've got lots of 'em" />
					<h2 class="mb-4">Membership has its benefits</h2>
					<p>
						When you sign up with Cedalion, you get much more than just another
						freelancer, independent contractor, or design agency.
					</p>
				</div>
				<div class="grid-cols-6 row-gap-16 col-gap-8">
					<Card
						heading="Unlimited design projects"
						content="Submit and queue up as many design projects as you like. Unlimited really means unlimited.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:infinity" />
						</div>
					</Card>
					<Card
						heading="Top-notch quality"
						content="Professional-quality design at your fingertips. Without the six-figure salary expenses.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:award" />
						</div>
					</Card>
					<Card
						heading="Quick turnarounds"
						content="Most projects are completed within 48 to 72 hours, on average.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:speedometer" />
						</div>
					</Card>
					<Card
						heading="No meetings"
						content="Because the last thing you need right now is another recurring meeting on your calendar.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:calendar-x" />
						</div>
					</Card>
					<Card
						heading="Low commitment"
						content="Get started today with no contracts, retainer agreements, or minimum commitments.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:door-open" />
						</div>
					</Card>
					<Card
						heading="Premium stock assets"
						content="Need great stock photos or videos for your project? We source and design with them for you.">
						<div
							class="mb-4"
							slot="icon">
							<Icon name="bi:images" />
						</div>
					</Card>
				</div>
			</Container>
		</section>
		<section
			id="pricing"
			class="py-16">
			<Container>
				<div class="max-w-770 mb-16">
					<h2 class="mb-4">Two billing options. One flat, monthly fee</h2>
					<p>
						Choose whichever billing option makes more sense for you. In either case,
						you'll still have access to unlimited, professional-quality designs.
					</p>
				</div>
				<div class="grid-cols-2 col-gap-8">
					<PricingCard
						href="https://buy.stripe.com/00gbKNc8f251c3C6op"
						billing="monthly"
						price="$2,495"
						description="The perfect plan for those businesses with ongoing design needs and a desire to grow."
					/>
					<PricingCard
						href="https://buy.stripe.com/eVaeWZ6NV9xtebKeUY"
						isBlack
						billing="quarterly"
						price="$1,995"
						description="The perfect plan for startups and teams looking for cost savings as well as a long-term design partner."
					/>
				</div>
			</Container>
		</section>
		<section class="py-16">
			<Container>
				<div class="max-w-770 mb-16">
					<Eyebrow content="FAQ" />
					<h2 class="mb-4">Frequently asked questions</h2>
				</div>
				<Faq />
			</Container>
		</section>
		<section
			id="contact"
			class="py-16">
			<Container>
				<div class="max-w-770 text-center mx-auto">
					<Eyebrow content="Get started in less than 5 minutes" />
					<h2 class="mb-4">Your success is just a click away.</h2>
					<p class="mb-6">
						To get started, just click on the button below and select one of two
						billing options. You'll be guided through our hassle-free onboarding
						process, and then we'll get to work on bringing your designs to life.
					</p>
					<div class="flex-row justify-center align-center mb-6 mx-auto">
						<Button
							href="#pricing"
							label="Get started"
						/>
					</div>
				</div>
			</Container>
		</section>
		<Footer />
		<style lang="scss">
			@import "../styles/variables.scss";

			.slider {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				gap: 1.875rem;
				width: 100%;
			}

			.icon--wrapper {
				display: grid;
				place-items: center;
				width: 3rem;
				height: 3rem;
				border: 1px solid map-get($gray, "100");
				border-radius: 100vw;
				opacity: 0.5;
				transition: opacity 0.3s ease-in-out;

				&:hover {
					opacity: 1;
				}
			}

			[astro-icon] {
				width: auto;
				height: 1.75rem;
				color: map-get($primary, "500");
			}

			section {
				position: relative;
			}

			.image--section {
				overflow-y: hidden;
				img {
					position: relative;
					bottom: -32px;
					z-index: 100;
					outline: 16px solid rgba(white, 0.5);
				}

				&::after {
					content: "";
					display: block;
					position: absolute;
					z-index: 50;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 50%;
					background-color: map-get($primary, "500");
				}
			}

			.orange {
				color: map-get($primary, "500");
			}

			.max-w-770 {
				width: 100%;
				max-width: 770px;
			}

			.max-w-870 {
				width: 100%;
				max-width: 870px;
			}

			.col-2 {
				@media screen and (min-width: map-get($breakpoints, "med")) {
					columns: 2 auto;
					column-gap: 1.875rem;
				}
			}

			.is-gray {
				background-color: map-get($gray, "50");
			}

			.logo {
				width: auto;
				opacity: 0.25;
				transition: opacity 0.3s ease-in-out;

				&:hover {
					opacity: 1;
				}

				&.ari {
					height: 3.5rem;
				}

				&.interfacely {
					height: 3rem;
				}

				&.prototypr {
					height: 2.5rem;
				}

				&.ruzuku {
					height: 1.75rem;
				}

				&.uxplanet {
					height: 2.5rem;
				}
			}
		</style>
		<script>
			import Glide from "@glidejs/glide";

			let glide = new Glide(".glide", {
				type: "carousel",
				startAt: 0,
				perView: 2,
				breakpoints: {
					768: {
						perView: 1,
					},
				},
				gap: 30,
				keyboard: false,
			});

			let forward = document.querySelector("#api-go-forward");
			let backward = document.querySelector("#api-go-backward");

			forward?.addEventListener("click", function () {
				glide.go(">");
			});

			backward?.addEventListener("click", function () {
				glide.go("<");
			});

			glide.mount();
		</script>
	</body>
</html>
